{% extends 'base.html' %}
{% block 'title' %} Edit Employee{% endblock%}
{% block 'head' %} {% endblock %}

{% block 'body' %}
    <div class="wrapper">
        <h1 class="titulo">Edit Employee</h1>
        <form action="{% url 'edit_employee' collaborator.id %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
            <div class="form-group ">
                <label for="{{ form.name.id_for_label }}">Name:</label>
                {{form.name }}
            </div>
            <div class="form-group">
                <label for="{{ form.email.id_for_label }}">Email:</label>
                {{ form.email }}
            </div>
            <div class="form-group">
                <label for="{{ form.address.id_for_label }}">Address:</label>
                {{ form.address }}
            </div>
            <div class="form-group">
                <label for="{{ form.department.id_for_label }}">Department:</label>
                <select name="{{ form.department.name }}" class="form-select" required>
                    
                    {% for department in departments %}
                        <option value="{{ department.id }}" {% if department.id == employee.department.id %}selected{% endif %}>{{ department.description }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>    
{% endblock %}